Vox_veritatis/Processed_recordings_ReadyToLoad
Initial Data Preparing/Data
.venv
Vox_Veritatis/Voice Processing Scripts/venv_p36
Vox_Veritatis/Voice Processing Scripts/pretrained_models
Vox_Veritatis/Dataset
YLF-2/.env